<!--

            ------------------------------------------------------------
            |                   Aknowledgement                         |
            |----------------------------------------------------------|
            |   Project Name : Resume Screening Using Machine Learning |
            |   Coded By : Eng. Karim Mohammed Aboelazm                |
            |   Organization : Obour University                        |
            |----------------------------------------------------------|
-->
{% load static %}
<section id="about">
   <div class="about">
      <div class="container-fluid">
         <div class="row pb-5">
            <div class="col-md-12 col-lg-7">
               <div class="about_box">
                  <div class="titlepage">
                     <h2><strong class="yellow">About US --</strong></h2><h3 style="color:#154492">1- WE CAN HELP COMPANIES TO GET AN AIM EMPLOYEE FOR THERE POSTED JOBS<br><br>
                  2- WE CAN HELP EMPLOYEES TO IMPROVE THERE RESUME AND PREPARE THEM TO INTERVIEW</h3>
                  </div>
                  <h3>EVERYTHING YOU NEED IN ONE SOLUTION</h3>
                  <span class="mb-5">HELP YOUR NEXT CAREER MOVE MORE SMOOTHER AND <br> MORE EFFICIENT</span>
                  <a class="btn btn-lg bg-dark text-light p-3" href="https://www.resumehelp.com/resume/how-it-works" target="_blank">Create A Professional CV <i class="fa fa-edit" aria-hidden="true"></i></a> 
            </div>
            </div>
            <div class="col-md-12 col-lg-5">
               <div class="about_img">
                  <figure><img src="{% static '' %}images/about_img2.jpg" alt="#" /></figure>
               </div>
            </div>
         </div>
         <hr>
      </div>
   </div>
</section>