<!--

            ------------------------------------------------------------
            |                   Aknowledgement                         |
            |----------------------------------------------------------|
            |   Project Name : Resume Screening Using Machine Learning |
            |   Coded By : Eng. Karim Mohammed Aboelazm                |
            |   Organization : Obour University                        |
            |----------------------------------------------------------|
-->
{% load static %}
<footer>
    <div class="footer">
       <div class="container">
          <div class="row pb-5">
             <div class="col-md-12">
                <h1 class="text-center" style="font-size:50px;font-weight:700;color:#fff;">RESUME SCREENING</h1>
             </div>
          </div>
       </div>
       
    </div>
 </footer>