<!--

            ------------------------------------------------------------
            |                   Aknowledgement                         |
            |----------------------------------------------------------|
            |   Project Name : Resume Screening Using Machine Learning |
            |   Coded By : Eng. Karim Mohammed Aboelazm                |
            |   Organization : Obour University                        |
            |----------------------------------------------------------|
-->
{% load static %}
<header style="position: sticky;top:0;z-index: 1000;opacity: 1;">
    <!-- header inner -->
    <div class="header">
       <div class="header_bo">
          <div class="container">
             <div class="row">
                <div class="col-md-9 col-sm-7">
                   <nav class="navigation navbar navbar-expand-md navbar-dark" id="navbar-example">
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarsExample04">
                         <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                               <a class="nav-link" href="/"> Home </a>
                            </li>
                            <li class="nav-item">
                               <a class="nav-link" href="#about">about</a>
                            </li>
                            <li class="nav-item">
                               <a class="nav-link" href="#service">services</a>
                            </li>
                            <li class="nav-item">
                               <a class="nav-link" href="#resume">Resume Analysis</a>
                            </li>
                            <li class="nav-item">
                               <a class="nav-link " href="{% url 'resume_app:hr' %}" style="display:flex;"><svg style="position:relative;top:0px;right:10px" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                 <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                               </svg>HR</a>
                            </li>
                            
                         </ul>
                      </div>
                   </nav>
                </div>
                <div class="col-md-3 col-sm-5 d_none">
                   <ul class="sign">
                      <li><a class="sign_btn" href="https://www.oi.edu.eg/en/" target="_blank">OI INSTITUTE </a></li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </div>
</header>


