<!--

            ------------------------------------------------------------
            |                   Aknowledgement                         |
            |----------------------------------------------------------|
            |   Project Name : Resume Screening Using Machine Learning |
            |   Coded By : Eng. Karim Mohammed Aboelazm                |
            |   Organization : Obour University                        |
            |----------------------------------------------------------|
-->
{% load static %}
<!-- end footer -->
<!-- Javascript files-->
<script src="{% static '' %}js/jquery.min.js"></script>
<script src="{% static '' %}js/popper.min.js"></script>
<script src="{% static '' %}js/bootstrap.bundle.min.js"></script>
<script src="{% static '' %}js/jquery-3.0.0.min.js"></script>
<script src="{% static '' %}js/owl.carousel.min.js"></script>
<!-- sidebar -->
<script src="{% static '' %}js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{% static '' %}js/custom.js"></script>