<!--

            ------------------------------------------------------------
            |                   Aknowledgement                         |
            |----------------------------------------------------------|
            |   Project Name : Resume Screening Using Machine Learning |
            |   Coded By : Eng. Karim Mohammed Aboelazm                |
            |   Organization : Obour University                        |
            |----------------------------------------------------------|
-->
{% load static %}
<section id="service">
   <div class="service">
      <div class="container">
         <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                  <strong class="yellow">service --</strong><br>
                     <h2>WE CAN HELP YOUR CLIENTS EMPLOYEES AND COMPANIES'  OWNERS</h2>
                  </div>
               </div>
         </div>
         <div class="row pb-5">
            <div class="col-md-4 col-sm-6">
               <div id="ho_color" class="service_box">
                  <img src="{% static '' %}images/service_icon1.png" alt="#" />
                  <h3>Recommend Jobs</h3>
                  <p>Anyone can like their job... To love your job is not enough, you must give your passion to your job</p>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
                  <div id="ho_color" class="service_box">
                     <img src="{% static '' %}images/service_icon2.png" alt="#" />
                     <h3>Improve Resume</h3>
                     <p>Improving your resume gives your resume a greater chance of getting noticed by hiring managers</p>
                  </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div id="ho_color" class="service_box">
                  <img src="{% static '' %}images/service_icon6.png" alt="#" />
                  <h3>Recommend Courses</h3>
                  <p>Learning is not attained by chance, it must be sought for with ardor and attended to with diligence.</p>
               </div>
            </div>
         </div>
         <hr>
      </div>
   </div>
</section>
 