<!--

            ------------------------------------------------------------
            |                   Aknowledgement                         |
            |----------------------------------------------------------|
            |   Project Name : Resume Screening Using Machine Learning |
            |   Coded By : Eng. Karim Mohammed Aboelazm                |
            |   Organization : Obour University                        |
            |----------------------------------------------------------|
-->
{% load static %}
<div id="team" class="team">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2><strong class="yellow">Team</strong><br>We Have a Professional Team of Business Analysts.</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div id="team" class="carousel slide team_Carousel " data-ride="carousel">
                <ol class="carousel-indicators">
                   <li data-target="#team" data-slide-to="0" class="active"></li>
                   <li data-target="#team" data-slide-to="1"></li>
                   <li data-target="#team" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                   <div class="carousel-item active">
                      <div class="container">
                         <div class="carousel-caption ">
                            <div class="row">
                               <div class="col-md-4 col-sm-6">
                                  <div id="ho_bg" class="team_img">
                                     <img src="{% static '' %}images/team1.png" alt="#" />
                                     <div class="ho_socal">
                                        <ul class="social_icont">
                                           <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                           <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                                           <li> <a href="#"> <i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                           <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-md-4 col-sm-6">
                                  <div id="ho_bg" class="team_img">
                                     <img src="{% static '' %}images/team2.png" alt="#" />
                                     <div class="ho_socal">
                                        <ul class="social_icont">
                                           <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                           <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                                           <li> <a href="#"> <i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                           <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-md-4 col-sm-6 d_none1">
                                  <div id="ho_bg" class="team_img ">
                                     <img src="{% static '' %}images/team3.png" alt="#" />
                                     <div class="ho_socal">
                                        <ul class="social_icont">
                                           <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                           <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                                           <li> <a href="#"> <i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                           <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="carousel-item">
                      <div class="container">
                         <div class="carousel-caption">
                            <div class="row">
                               <div class="col-md-4 col-sm-6 d_none1">
                                  <div id="ho_bg" class="team_img ">
                                     <img src="{% static '' %}images/team1.png" alt="#" />
                                     <div class="ho_socal">
                                        <ul class="social_icont">
                                           <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                           <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                                           <li> <a href="#"> <i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                           <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-md-4 col-sm-6">
                                  <div id="ho_bg" class="team_img">
                                     <img src="{% static '' %}images/team2.png" alt="#" />
                                     <div class="ho_socal">
                                        <ul class="social_icont">
                                           <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                           <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                                           <li> <a href="#"> <i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                           <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-md-4 col-sm-6">
                                  <div id="ho_bg" class="team_img">
                                     <img src="{% static '' %}images/team3.png" alt="#" />
                                     <div class="ho_socal">
                                        <ul class="social_icont">
                                           <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                           <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                                           <li> <a href="#"> <i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                           <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="carousel-item">
                      <div class="container">
                         <div class="carousel-caption">
                            <div class="row">
                               <div class="col-md-4 col-sm-6">
                                  <div id="ho_bg" class="team_img">
                                     <img src="{% static '' %}images/team1.png" alt="#" />
                                     <div class="ho_socal">
                                        <ul class="social_icont">
                                           <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                           <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                                           <li> <a href="#"> <i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                           <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-md-4 col-sm-6 d_none1">
                                  <div id="ho_bg" class="team_img ">
                                     <img src="{% static '' %}images/team2.png" alt="#" />
                                     <div class="ho_socal">
                                        <ul class="social_icont">
                                           <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                           <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                                           <li> <a href="#"> <i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                           <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-md-4 col-sm-6">
                                  <div id="ho_bg" class="team_img">
                                     <img src="{% static '' %}images/team3.png" alt="#" />
                                     <div class="ho_socal">
                                        <ul class="social_icont">
                                           <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                           <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                                           <li> <a href="#"> <i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                           <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <a class="carousel-control-prev" href="#team" role="button" data-slide="prev">
                   <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </a>
                <a class="carousel-control-next" href="#team" role="button" data-slide="next">
                   <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
             </div>
          </div>
       </div>
    </div>
 </div>